version: "3.8"
services:
  frontend:
    container_name: sharingo-frontend
    restart: always
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    container_name: sharingo-backend
    restart: always
    build: ./
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - NODE_ENV=production

  mongo:
    image: mongo:4.4
    container_name: sharingo-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
